#congrats {
	z-index : 5;
	position: absolute;
	bottom: 0;
	margin-bottom: 25px;
	margin-left: 20px;
	font-size: 32px;
}

.savageButton {
	border : 2px solid white;
	margin-left: 20px;
	font-size: 24px;
	color: black;
	padding:4px 7px;
	border-radius : 25%;
	background-color: blue;
}

.savageButton:hover {
	color:white;
	background-color: black;
}