#congrats {
	z-index : 5;
	position: fixed;
	bottom: 0;
	margin-bottom: 25px;
	margin-left: 20px;
	font-size: 32px;
	line-height: 40px;
}

#congrats p {
	margin-bottom: -20px;
}

.buttons {
	display: block;
	width: 430px;
	margin: 0 auto;
}

.buttons .btn {
	margin: 0 10%;
}